*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

 

.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

.logo{
  padding-top: 16px 120px;
  display: flex;
  justify-content: space-between;
  margin: 0px 120px;
  gap: auto;
  width: 88%;
  max-width: 1600px;
  align-items: center;
}
.logo ul {
  display: flex;
  gap: 32px;
  list-style: none;
  
  }
  .logo a{
    text-decoration: none;
    cursor: pointer;

  }
  .logo button{
    margin-right: 20px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    padding: 12px 16px;
    font-weight:600;
    font-size: 16px;
  }
  .bg-content{
    display: flex;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:100%;
    max-width:1600px;
    height:100vh;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    wi
  }
  .two-btn {
    
    display: flex;
    gap: 16px;
    
  }
  #green-btn{
    align-items: center;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  .content h1{
    color: white;
    font-size: 64px;
    font-weight: bold;
  }
  .content p{
    line-height: 24px;
    color: #FFFFFF;
  }
  .butn{
    width: 229px;
    height: 35px;
    background-color: white;
    color: #469165;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .highlight{
    color: #469165;
  }
  
  
 .play{
  padding: 12px 16px;
 }
 #transparent{
  cursor: pointer;
  background-color: transparent;
  color: #FFFFFF;
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 2px;
 }
 .cards-container{
  margin: auto 120px;
  margin-top:20px;
 }
.cards-title{
 
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.cards-title h1{
  font-size: 48px;
  font-weight: bold;
}
.cards-title p{
  margin-top: 16px;
}
.main-cards{
  display: flex;
  gap: 20px;
  margin-top: 44px;
}
.cards{
  max-width: 322px;
  height: 300px;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 15px;
  box-shadow: 0px 0px 8px 0px;
}
.cards img{
  padding: 15px;
  width: 62px;
  height: 62px;
  border-radius: 60px;
  margin-top: 24px;
  background-color:#F95555;
  margin-bottom: 16px;
}
.cards p{
  margin-top: 16px;
}
.brain-light{
  display: flex;
  max-width: 1360px;
  margin: 120px;
  gap: 40px;
}
.brain-content{
  margin-top: 100px;
  /* align-items: center; */
  justify-content: center;
  max-width: 700px;
  text-align: left;
  
}
.brain-content h1{
  margin-bottom: 16px;
  max-width: 700px;
}
.solution{
  color: #469165;
  margin-bottom: 16px;
}
.extra-content{
  margin-bottom: 16px;
  color: #627382;
}
.brain-content ul{
  padding: 0px;
  list-style:none;
 
}
.brain-content li{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  text-align: left;
  font-size: 16px;
}
.brain-content img{
  width: 20px;
  height:20px ;
}
.think{
  padding: 80px 40px;
  text-align: center;
  background-color: #F7F6F2;
  margin: 0 120px;
  margin-bottom: 120px;
}
.think h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}
.join{
  color: #627382;
  margin-bottom: 24px;
}
.large-green{
  background-color: #469165;
  color: #F7F6F2;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
  
}
.sub-text{
  color: #627382;
}
.footer-section{
background-color:#001931;
color: white;
padding: 120px 120px;
}
.footer-container{
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #627382;
  padding-bottom: 40px;
}
.icons{
  display: flex;
gap: 15px;
}
.icons img{
  width: 24px;
  height: 23px;
}
.social-links p{
  font-size: 20px;
  margin-bottom: 16px;

}
.copyright{
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #FAFAFA;
  padding-top: 20px;
  border-top: 1px dotted #627382;

}